@page "/product/{productId}"
@model SqlSharding.WebApp.Pages.Product
@{
    ViewData["Title"] = $"Product - {Model.State.Data.ProductName} [{Model.State.Data.ProductName}]";
}

<div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog" aria-labelledby="newOrderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Order for @Model.State.Data.ProductName</h5>
            </div>
            <form method="post" id="newOrder" asp-page-handler="newOrder">
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Quantity" class="col-form-label">Quantity:</label>
                        <input type="text" class="form-control" asp-for="Quantity">
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="place-order">Place Order</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newSupplyModal" tabindex="-1" role="dialog" aria-labelledby="newSupplyModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Re-Supply for @Model.State.Data.ProductName</h5>
            </div>
            <form method="post" id="newSupply" asp-page-handler="inventoryUpdate">
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Quantity" class="col-form-label">Quantity:</label>
                        <input type="text" class="form-control" asp-for="Quantity">
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="resupply-confirm">Re-Supply</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">@Model.State.Data.ProductName</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table text-start">
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Units Sold</th>
                    <th>Total Revenue</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@($"{Model.State.Data.CurrentPrice:C}")</td>
                    <td>
                        @if (Model.State.Totals.RemainingInventory < 0)
                        {
                            @($"{Model.State.Totals.RemainingInventory * -1} on backorder")
                        }
                        else
                        {
                            @Model.State.Totals.RemainingInventory
                        }
                    </td>
                    <td>@Model.State.Totals.SoldInventory</td>
                    <td>@($"{Model.State.Totals.TotalRevenue:C}")</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newOrderModal">Order</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newSupplyModal">Resupply</button>
        </div>
    </div>

    <h2>Recent Orders</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            @if (Model.State.Orders.Any())
            {
                var num = 1;
                <table class="table text-start">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.State.Orders)
                    {
                        <tr>
                            <th scope="row">@num</th>
                            <td>@order.Order.Timestamp</td>
                            <td>@order.Order.Quantity</td>
                            <td>@($"{order.UnitPrice:C}")</td>
                            <td>@($"{order.TotalPrice:C}")</td>
                        </tr>
                        num++;
                    }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Orders for @Model.State.Data.ProductName</h3>
            }
        </div>
        <div class="col"></div>
    </div>
    
    <h2>Supply Log</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
                @if (Model.State.InventoryChanges.Any())
                {
                    var num = 1;
                    <table class="table text-start">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var changed in Model.State.InventoryChanges)
                        {
                            <tr>
                                <th scope="row">@num</th>
                                <td>@(changed.Timestamp.Equals(DateTime.MinValue) ? "[N/A]" : changed.Timestamp)</td>
                                <td>@changed.Quantity</td>
                                <td>@changed.Reason</td>
                            </tr>
                            num++;
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>No Inventory Changes @Model.State.Data.ProductName</h3>
                }
        </div>
        <div class="col"></div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}